<mat-card>
  <form class="loginForm" action="">
    <mat-form-field>
      <input matInput type="text" name="userName" placeholder="User Name" [(ngModel)]="user.userName">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="password" name="password" placeholder="Password" [(ngModel)]="user.password">
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" (click)="login()">Login</button>
  </form>
  <div>
    <h4>Not a member?<a routerLink="/signup"> Sign Up Here</a></h4>
  </div>
</mat-card>
