mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}
.background {
  position: absolute;
  top: 5em;
  left: 0;
  bottom: 0;
  right: 0;
  background: url('../../../assets/images/adult-athlete-barbell-685530.jpg')
    no-repeat center top;
  background-size: cover;
  content: '';
  z-index: 0;
  display: grid;
}
mat-card {
  margin: auto;
  /* width: 50%; */
}
