mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}
.background {
  position: absolute;
  top: 5em;
  left: 0;
  bottom: 0;
  right: 0;
  background: url('https://lh3.googleusercontent.com/ZQ6OlHIGI5AtJiEjih2FagX3eyA6Z1uQQWkmitk9MzvS3vgotLyDifIdLVL89qUPBwQV5_2jdOYa3stbTuWPN1npbLD5uuoa3IXXOLlNO9L8f0Al0A70rhygYRQVJetBmCA6mUdkkQ=w2400')
    no-repeat center top;
  background-size: cover;
  content: '';
  z-index: 0;
  display: grid;
}
mat-card {
  margin: auto;
  background-color: lightgrey;
  /*rgba(255, 255, 255, 0.849*/
  /* width: 50%; */
}
