<mat-toolbar>
  <div>
    <a mat-raised-button routerLink="/home" routerLinkActive="mat-accent">SWEATLOG</a>
  </div>
  &nbsp;
  <div>
    <a mat-raised-button routerLink="/about" routerLinkActive="mat-accent">About</a>
  </div>
  &nbsp;
 <div *ngIf="!userIsAuthenticated">
    <a mat-raised-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
  </div>
  &nbsp;
  <div *ngIf="!userIsAuthenticated">
    <a mat-raised-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
  </div>
  &nbsp;
  <div class="logout" *ngIf="userIsAuthenticated">
    <button mat-raised-button color="accent" (click)="onLogout()">Logout</button>
  </div>
  &nbsp;
  <div class="post" *ngIf="userIsAuthenticated">
    <button mat-raised-button color="accent" routerLink="/create" routerLinkActive="mat-accent">New Post</button>
  </div>
</mat-toolbar>



<!--  commented out the below code to be fixed
The above code works.



<script src="js/lib/angular.js"></script>
<script src="js/lib/angular-animate.js"></script>
<script src="header.component.css"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
<script type="text/javascript">
  var app = angular.module('MyApp', [])
  app.controller('MyController', function ($scope) {
    $scope.ButtonClick = function () {
      $scope.Message = "Button clicked."
    }
  });
</script>
<div ng-app="Header" ng-controller="MyController">
  <input type="button" value="HOME" ng-click="ButtonClick()" />
  <br />
  <br />
  <span ng-bind="Message"></span>

</div>

-->
