<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="logs.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let log of logs">
    <mat-expansion-panel-header>
      {{ log.date | date: 'MMM dd, yyyy'}}
      <!-- {{ log.title }} -->
    </mat-expansion-panel-header>
    <h5>SWEAT LOGGED: </h5>
    <p>{{ log.content }}</p>
    <h5>DURATION: </h5>
    <p>{{ log.duration }}</p>
    <mat-action-row *ngIf="userIsAuthenticated && userId === log.creator">
      <a mat-button color="primary" [routerLink]="['/edit', log.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(log.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalLogs" [pageSize]="logsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="logs.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="logs.length <= 0 && !isLoading">No logs added yet!</p>
