<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveLog()" *ngIf="!isLoading">

    <mat-form-field>
      <mat-label>Select your SWEAT date</mat-label>
      <input matInput formControlName="date" [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('date').invalid">Please enter your workout date</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Log Title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a log title.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput rows="4" formControlName="content" placeholder="Log Content"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a log title.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" formControlName="duration" placeholder="Log Duration">
      <mat-error *ngIf="form.get('duration').invalid">Please enter the duration.</mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit">Save Workout</button>

  </form>

</mat-card>
