mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

button {
  margin: 5px;
}
.background {
  position: absolute;
  top: 5em;
  left: 0;
  bottom: 0;
  right: 0;
  background: url('/assets/images/log.jpg') no-repeat center top;
  background-size: cover;
  content: '';
  z-index: 0;
  display: grid;
}
mat-card {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.849);
  /* width: 50%; */
}
