agm-map {
  height: 500px;
  width: 500px;
  border: black;
}

label {
  font: bolder;
}

.addresses {
  /* position: absolute; */
  width: 100%;
  right: 0;
}
@media (max-width: 815px) {
  agm-map {
    height: 450px;
    width: 450px;
  }
}
