<div class="background"></div>
<div class="container-fluid">
  <div class="row">

    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <!-- Profile needs to be in the left -->
    <div class="profile col-sm-12 col-md-4 col-lg-4">
      <div *ngFor="let profile of profiles">
        <!-- Shows when profile is updated -->
        <h1>{{ profile.displayName}}</h1>
        <img src="{{profile.avatar}}" alt="">
        <mat-card class="text-box">{{ profile.motivation }}</mat-card>
        <a mat-button color="primary" [routerLink]="['/edit-profile', profile.id]">Edit Profile</a>
      </div>

      <!-- shows if profile info is not updated -->
      <div *ngIf="profiles.length <= 0 && !isLoading">
        <h1>Welcome to your SweatLog!</h1>
        <mat-card>Click below to update your profile and add a motovational quote are personal message to keep you
          sweating.</mat-card>
        <a mat-button color="primary" routerLink="/profile-edit">Add Info</a>
      </div>
    </div>

    <!-- Benchmarks to the left -->
    <div class="benchmarks col-sm-12 col-md-8 col-lg-8">
      <h1>Benchmarks</h1>
      <app-benchmark-list></app-benchmark-list>
    </div>
  </div>
</div>

<br>
<div class="container-fluid">
  <div class="row">
    <div class="logs col-12">
      <!-- <h1>Need something to go to logs <a >Click here for now</a></h1>
      <p>Also need to decide when user logs in do they go to profile or go to logs</p> -->
      <a mat-raised-button color='accent' routerLink="/create"> New Log </a>
      &nbsp;
      <a mat-raised-button color='accent' routerLink="/log"> View Your Logs Here </a>
    </div>
  </div>
</div>
  <!-- Log list needs to take full width
containter fluid used to fill up width -->
  <!-- <div class="container-fluid">
  <div class="row">
    <div class="logs col-md-12">
      <app-log-list></app-log-list>
    </div>
  </div>
</div> -->