a {
  margin: 5px;
}
img {
  width: 230px;
  height: 230px;
  border: 1px solid rgba(0, 0, 0, 0.11);
  margin-top: 13px;
}
.welcome {
  margin-top: 13px;
  background-color: rgba(255, 255, 255, 0.849);
}
.text-box {
  width: 230px;
  min-height: 89px;
  background-color: rgba(255, 255, 255, 0.849);
}
.profile {
  top: 1em;
  z-index: 0;
}
.buttons {
  z-index: 0;
  margin-bottom: 1.5em;
}
.benchmarks {
  right: 0;
  z-index: 0;
}
.background {
  position: absolute;
  top: 55px;
  left: 0;
  bottom: 0;
  right: 0;
  background: url('/../assets/images/running.jpg') no-repeat center top;
  background-size: cover;
  content: '';
  z-index: -1;
  display: grid;
}
@media (max-width: 700px) {
  .gradient {
    position: absolute;
    top: 0%;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  }
}
