<div class="background">
<br>
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab label="CrossFit"> <!-- 16:9 aspect ratio -->
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <mat-tab label="Weight Training">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

<mat-tab label="Core">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <mat-tab label="Burpees">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <mat-tab label="Running">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <mat-tab label="Pilates">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <mat-tab label="Gym Equipment">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>

<!-- 4:3 aspect ratio
        <div class="videolayout">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VS6UOyTb5eU"
          frameborder="0" allowfullscreen></iframe>
        </div> -->