<div class="regContainer">
  <mat-card>
    <div>
      <h4>
        Sign Up for SweatLog
      </h4>
    </div>
    <form class="regForm" action="">
      <mat-form-field>
        <input matInput type="text" name="fName" placeholder="First Name" [(ngModel)]="user.firstName">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="text" name="lName" placeholder="Last Name" [(ngModel)]="user.lastName">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="text" name="email" placeholder="Email Address" [(ngModel)]="user.email">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="text" name="userName" placeholder="User Name" [(ngModel)]="user.userName">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="password" name="password" placeholder="Password" [(ngModel)]="user.password">
      </mat-form-field>
      <br>
    </form>
    <div>
      <button mat-raised-button color="accent" (click)="register()">Submit</button>
    </div>
    <div>
      <h4>Already a member?<a routerLink="/login"> Login Here</a></h4>
    </div>

  </mat-card>
</div>
