<mat-card>
  <div class="left">
    <mat-card-title>Profile Page</mat-card-title>
    <title>Profile Page</title>

    <input type="text" placeholder="UserName">
    <br>
    <input type="text" placeholder="firstName, lastName">
    <br>

    <img class="img-responsive" src='assets/images/athlete2.gif'>

    <br>
    <textarea name="Bio" id="Me" cols="30" rows="10">Bio</textarea>
    <br>

    <button mat-raised-button>Edit

    </button>
  </div>
  <div class="right">
    <app-benchmark-list></app-benchmark-list>
  </div>
</mat-card>