<mat-card>

  <div class="body">

    <button (click)='startTimer()'>Start Timer</button> <br>
    <p> {{timeMinutes}} : {{remainderSeconds}} TIME USED ..</p>
    <button (click)='pauseTimer()'>Pause</button>
    <br>
    <br>
    <div><button (click)="resetTimer()">Reset</button></div>



    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>

<div ng-app="myApp">
  <div ng-controller='TimeCtrl'>
    <p>{{ clock | date:'HH:mm:ss'}}</p>
  </div> -->
  </div>
</mat-card>